@{
    ViewData["Title"] = "Hakkinda";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>

<div class="container">
    <h1 style="text-align:center; margin-top:50px;">Emeği Geçenler</h1>
    <div class="row" style=" margin-top:50px;">
        <div class="col lg-4">
            <div>
                <h3 style="text-align:center; color:black">Muhammed Emin Güzel</h3>
                <br />
                <h4>İletişim</h4>
                <br />
                <p>e-posta: ....hotmail.com</p>
                <p>telefon: ......</p>
            </div>
        </div>
    </div>
</div>
