

@{
    ViewData["Title"] = "Home Page";

}

    <html>

    <body>
        <h1 class="site-heading text-center text-white d-none d-lg-block">
            <span class="site-heading-upper text-primary mb-3">ÖĞRENCİYİM</span>
        </h1>

        <div class="container border-dark" style="text-align:center;">
                 <partial name="_LoginPartial" />


        </div>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>

    </html>


