

@{
    ViewData["Title"] = "Home Page";

}

    <html>

    <body>
        <div class="container border-dark col-md-8" style="text-align:center;">
            <br />
            <img src="~/ogrenci.png"/>
            <br />
            <br />
            <br />
            <partial name="_LoginPartial" />
            <br />
            <br />
            <br />
        </div>
        <div class="container col-md-4">


        </div>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>

    </html>


