@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Çıkış</button>
            </form>
        </li>
    }
    else
    {
        <div class="container table-bordered">
            
                <a class="text-dark" asp-area="Identity" asp-page="/Account/Register" style="font-size:xx-large">Kayıt Ol</a>
            
            
                <a class="text-dark" asp-area="Identity" asp-page="/Account/Login" style="font-size:xx-large">Giriş Yap</a>
            
        </div>

    }
</ul>
